* {
    font-family: 'Open Sans', sans-serif; 
     }
     .toptext {
       color: white;
       font-size: 3vh;
     }
      .wrning{
          width: 50%;
        padding: 0px;
       
     }
       .nb {
      margin: 20px; 
       text-align: center;
     }
     .row {

     width: 100%;
     }
     
      .d1btn {
        width: 100% !important;
        text-align: left;
       padding: 2px !important;
       
        border-radius: 5px !important;
        border: 2px solid #ff8c00 !important;
        background-image: linear-gradient(#f7ab08, #ff8c00, #ff8c00) !important;
        
        line-height: 1 !important;
        font-size: 16px !important;
     }
     .d1btn:hover{
      color: #fff;
       transition: 0.3s;
     }
     
     .d1btn p {
      line-height: 1 !important;
       font-weight: 600;
       
       
     }
     #top-after{
       width: 50%;
      padding:20px;
      }
     
     .vida {
       width: 50% !important;
     }
     #up1-box{
      
       text-align: center;
     }
 
     .up1{
      transition: box-shadow .2s;
       background-color: #e4e5f3;
       background-image: linear-gradient(white, #e4e5f3);
       margin: 15px;
       padding:20px;
       text-align: center;
       color: #132a74;
     }
     .up1:hover {
       box-shadow: 0 0 15px rgba(42,42,42,.2); 
     }
     
     .price {
     width: 300px;
           display: inline-block;
       color: #0093d8;
      
     }
     
     .pt {
       font-family: 'Oswald', sans-serif;
       font-size: 6vh;
       font-weight: 700;
     color: #132a74;
     }
     .ptt{
        font-family: 'Oswald', sans-serif;
       font-size: 4vh;
      color: #132a74;
     }
     .col-md-3 {

    width: 28%;        
     }
      .ix {
         
        padding: 5px !important;
      
     border: 4px solid #c8c8c8;
       border-radius: 10px;
     }
     .ixx {
       
         padding: 5px !important;
      margin-left: 10px;
      margin-right: 10px;
      border: 4px solid #00c6b5;
       border-radius: 10px;
     }
 
      .pricee {
     width: 300px;
   display: inline-block;
       color: #0093d8;
      
     }
     
     #price {
   
   width: 70px;
   display: inline;
   margin-right: 10px;
   font-size: 4em;
   font-weight:bold;
   float: left;
   margin-left: 50px;
     }
     
     #per {
       padding-top: 20px;
      padding-bottom: 5px;
       width: 100px;
  float: left;
   display: inline;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   white-space: nowrap;
   word-break: break-all;
       
       
 }
 
 #bottle {
   padding-top: 20px;
    text-align: left;
   font-size: 2.5vh;
   font-weight:bold;
   white-space: pre;
   word-wrap: break-word;
   -ms-word-wrap: break-word;
   -ms-word-break: break-word;
 }
      #exitModal { 
       z-index: 99999;
      
        padding: 50px;
     }
     .pops {
       border: 5px solid #ff5d3a;
       margin: 0 auto;
       width: 40vw;
              }
     
     .popup {
       padding: 50px; 
     }
     #skipops {
      
        width: 50vw;
     }
 #price {
   
   width: 80px;
   display: inline;
   margin-right: 10px;
   font-size: 5em;
   font-weight:bold;
   float: left;
   margin-left: 50px;
     }
     
     #per {
       margin-top: 10px;
      padding: 5px;
       width: 120px;
       
          float: left;
   display: inline;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   white-space: nowrap;
   word-break: break-all;
       
       
 }
 
 #bottle {
    text-align: left;
   font-size: 2.5vh;
   font-weight:bold;
   white-space: pre;
   word-wrap: break-word;
   -ms-word-wrap: break-word;
   -ms-word-break: break-word;
 }
     
     .up1btn {
        transition: background-color .2s;
       background-color: orange;
       color: white;
       border-bottom: 2px solid black;
       box-shadow: 1px;
       padding: 30px;
       border-radius: 5px;
     }
     
     .up1btn:hover{
       background:#0093d8;
       color: white;
     }
      .imgb
     {
       position: relative;
       top: 0;
       left: 0;
     }
     .imga
     {
       position: absolute;
       top: 60px;
       left: 80px;
     }
     
        #modbox {
   position: fixed;
   bottom: 20%;
   left: 0;
      right: 0;
 }
     
            #skipBox {
   position: fixed;
   bottom: 40%;
   left: 0;
      right: 0;
 }
 @media (min-width: 280px)and (max-width: 600px) {
                .ixx,.ix {
                        width: 100% !important;
                } 
                .ixx {

                margin: 0 auto !important;
                }
                .btnp {

                  text-align: center !important;
                }
          }
     @media (min-width: 320px)and (max-width: 991px) {
          .btnp{
            text-align: center;
          }
      .ixx,.ix {
        width: 80% !important;
        margin: 0 auto !important;
        } 

.btnp {

  text-align: center !important;
}
     .wrning{
       width:100% !important;
      }
       .img {
        max-width: 100% !important; 
       }
       .toptext{
        font-size: 2vh !important; 
       }
   #top-after {
   width:100%;
       }
       .container {
        width: 100% !important; 
       }
         .vida {
       width: 100% !important;
     }
   #co-Container {
      width:100% !important;
   }
         .pops {
               width: 75vw !important;
        }
          .red_page {
           font-size: 2vh !important; 
          }
       .qf {width: 100% !important;}
       
       .up1btn {
        width: 100% !important;
         font-size: 3vh !important;
       }
 }
    /***********loader***************/
     .loader-check {
       
       
     }
     .loader {
   color: white;
   font-size: 8vh;
       font-weight: bold;
   text-indent: -9999em;
   overflow: hidden;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   margin: 4em auto;
   position: relative;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
   animation: load6 1.7s infinite ease, round 1.7s infinite ease;
 }
 @-webkit-keyframes load6 {
   0% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
   5%,
   95% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
   10%,
   59% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }
   20% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }
   38% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }
   100% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
 }
 @keyframes load6 {
   0% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
   5%,
   95% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
   10%,
   59% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }
   20% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }
   38% {
     box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }
   100% {
     box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
 }
 @-webkit-keyframes round {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 @keyframes round {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }