body {
    font-family: 'Rubik', sans-serif;
}

    

  .dark-bg {
    border-top: 1px solid #c3cad1;
    border-bottom: 1px solid #c3cad1;
    background-color: #23282d;
    padding: 24px;
  }
  .white-bg {
    border-top: 1px solid #c3cad1;
    border-bottom: 1px solid #c3cad1;
      background-color: #fff;
      padding: 24px;
  }

  .bg-dark {
    background-color: #23282d;
    color: #fff;
  }

  .bg-orange {
      background-color: #ff4200;
      color: #fff;
  }

  

  .circle {
      display: inline-block;
      padding: 4px;
      border-radius: 50rem;
      cursor: pointer;
      
  }
  
  #bundle-select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #0085c6;
    padding: 14px;
    width: 40%;
  
  }


  .bundle-qty {
    
      padding: 8px;
      
  }
  #bv {
      display: none;
  } 
  

  .bundle-button {
      cursor: pointer;
    border-radius: 6px;
    border: 1px solid #0085c6;
      padding: 4px;
      color: #0085c6;
      transition: 0.2s;
  }

  .bundle-button.selected {
      position: relative;
      top: -4px;
    /* color: #fff; */
    /* background-color: #0085c6; */
}
.head-slim {
    font-size: 2em; text-align: center; margin-top: 12px; color: #000;
}
#blue {
    /* background-color: #006894; */
    background-color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}

#blue p {
    font-size: 1.6em;
    color: #000;
}
.label-danger {
    background-color: #c10e0e;
}
#countdown-timer {
    margin-left: 10px;
border: 3px solid #c10e0e;;
border-radius: 4px;

font-weight: 900;
padding: 2px 18px;
/* font-size: 20px; */
}
#company-title {
    position: relative;
    top: -4px;
    color: #878787;
}

#company-title-footer {
    font-size: 1.8em;
    color: #878787;
}

#company-footer {
    font-size: 2em;
}
#company {
    font-size: 1.8em;
}
#company-contact, .banner-text {
    font-size: 1.4em;
}

#in-caret {
    font-size: 2.4em;
    font-weight: 700;
}

.footers {
    color: #000;
    font-size: .9em;
    line-height: 1.6;
}
.fa-phone-square {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.main-checkout {
    border-top: 1px solid #c3cad1;
    border-bottom: 1px solid #c3cad1;
    background-color: #f3f5f7;
    padding: 20px;
}

.bundle-pic {
    height: 400px;
    width: 700px;
    margin: 0 auto;
    display: none;
}

.bundle-pic.shown {
   
    display: block;
}
strike {
    color: red;
}
.center-block {
    text-align: center;
}
.grey {
    border-color: #ccc;
    margin-top: 36px;
margin-bottom: 36px;
}
.blue-text {
    color: #0085c6;
}
.grey-text {
    color: #ccc;
}

.yellow-text {
    color: #fff56c;
}
.red-text {
    color: #c10e0e;
}

.green-text {
    color: #01b38d;
}
.scroll-product {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center !important;
}
.main-checkout .container h1 {
    font-weight: 700;
}

.main-checkout .container #in-caret .caret {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000000;
    color: #777;
}

.bundle-section, .info-section {
    width: 80%;
    margin: 0 auto;
}

.info-section {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.3);  
    margin-bottom: 36px;
}

.info-content {
    padding: 40px;
}

.box-bundle {
    border: 4px solid #ddd;
    border-radius: 10px;
    text-align: left;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    display: none;
    cursor: pointer;
}

.box-bundle.shown {
    display: block;
    border: 4px solid #007fbd;
    color: #000;
    filter: drop-shadow(0 10px 20px rgba(50,90,110,.125)) drop-shadow(0 7.5px 10px rgba(50,90,110,.15)) drop-shadow(0 4px 3px rgba(50,90,110,.4));
}

.box-bundle .bundle {
    padding: 20px;
}

.box-bundle .bundle.bundle-details {
    background-color: #fff;
}

.box-bundle .bundle.bundle-details .bundle-description{
    font-size: 2em;
    font-weight: 500;
}

.box-bundle .bundle.bundle-details .bundle-bottle{
    font-size: 4em;
    font-weight: 700;
}

.box-bundle .bundle.bundle-cta {
    
    text-align: center;
    border-left: 1px solid #e6e6e6;
}

.box-bundle .bundle.bundle-cta .cta-button{
    font-size: 2.4em;
    cursor: pointer;
font-weight: 900;
color: #333;
padding: 10px 20px;
text-align: center;
background-color: #006400;
position: relative;
z-index: 1;
display: block;
margin-bottom: 12px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
background-image: linear-gradient(180deg,#f6dda1,#f0c14b);
border: 1px solid #fff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
border-color: #a88734 #9c7e31 #846a29;
border-radius: 5px;
text-shadow: 1px 1px 0 #f9ffac;
}

.box-bundle .bundle.bundle-cta .bundle-bottle-price{
    font-size: 2em;
    font-weight: 500;
}

#mb-guarantee {
    border-top: 1px solid #c3cad1;
    border-bottom: 1px solid #c3cad1;
    background-color: #fff;
    padding: 24px;
    text-align: center;
}

.headings {
    font-size: 3rem;
    font-weight: 900;
    color: #d40000;
   
}

#mb-pic {
    height: 528px;
    width: 1056px;
    margin: 0 auto;
}

.list-head {
    font-size: 1.8em;
    font-weight: 700;
   
}
.faq-title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 24px;
    color: #000;
}
.faq-title .row {
    cursor: pointer;
}
.faq-title .row .col-xs-10.col-sm-11.col-md-11.col-lg-11 {
    padding-left: 0;
}

.faq-content {
    font-size: 1.6em;
    margin-bottom: 24px;
    margin-top: 12px;
    padding-left: 2em;
    max-height: 100%;
  
    
   
    display: block;
    
} 

.faq-content.hidden {
 
    display: none;
} 



.list-content {
    font-size: 1.6em;
    
}

.price {
    font-size: 1.6em;
    
}


/* COMMENT REVIEWS SECTION */
#comment-reviews, .comments {
    width: 60%; 
   }
.comments {
    border-top: 1px solid #e3e3e3;
     padding: 20px;
     
   }
   .profile-head {
    height: 60px;
     width: 60px;
     background-color: #e06a76;
     text-align: center;
     border-radius: 50%;
     
    
   }
   
   .profile-head p {
     line-height: 1.9;
     font-size: 2em;
     font-weight: 300;
    margin: auto;
    color: #fff;
   
   }
   
   .profile-head .badge {
     padding: 3px;
     color: #fff;
        position: relative;
     right: -15px;
     top: -10px;
     background-color: #2f84ed;
     border: 1px solid #fff;
     border-radius: 50%;
     margin: 0;
   }
   
   .profile-head .badge .glyphicon {
     font-weight: 300;
     margin: 0;
   }
   
   .profile-name {
    font-size: 1.2em;
     font-weight: 400;
   }
   
   .user-comment {
      font-size: 1.4em;
     font-weight: 400;
     line-height: 1.2;
   }
   #comment-nav {
    margin: auto; 
     text-align: center;
   }
   .comment-section {
    display: none; 
   }
   .comment-section.active {
    display: block; 
   }



   .faq-head {
       font-size: 2em;
       font-weight: 700;
       color: #000;
   }

   .coach-title {
    color: #dbdbdb;
    font-size: 1.9em;
    margin-bottom: 28px;
   }

   .coach-content {
       color: #fff;
       font-size: 1.6em;
       line-height: 1.6;
   }

